// Todo item priority styling
.low {
  background-color: green;
}

.medium {
  background-color: yellow;
}

.high {
  background-color: red;
}

// Text stiling for card
.card-text {
  font-size: 1.75rem;
}

// Button styling
.btn-space {
    margin-right: 5px;
}
